
<div *ngIf="signup">
    <h2><span jhiTranslate="lookbrbackendApp.signup.detail.title">Signup</span> {{signup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lookbrbackendApp.signup.email">Email</span></dt>
        <dd>
            <span>{{signup.email}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.signup.loginType">Login Type</span></dt>
        <dd>
            <span jhiTranslate="{{'lookbrbackendApp.LoginType.' + signup.loginType}}">{{signup.loginType}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.signup.password">Password</span></dt>
        <dd>
            <span>{{signup.password}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.signup.profilePhotoUrl">Profile Photo Url</span></dt>
        <dd>
            <span>{{signup.profilePhotoUrl}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.signup.profilePhoto">Profile Photo</span></dt>
        <dd>
            <span>{{signup.profilePhoto}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.signup.username">Username</span></dt>
        <dd>
            <span>{{signup.username}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.signup.token">Token</span></dt>
        <dd>
            <span>{{signup.token}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'signup/'+ signup.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
