<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLookLabel" jhiTranslate="lookbrbackendApp.look.home.createOrEditLabel">Create or edit a Look</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!look.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="look.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.look.userId" for="field_userId">User Id</label>
            <input type="text" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="look.userId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.look.temperature" for="field_temperature">Temperature</label>
            <input type="text" class="form-control" name="temperature" id="field_temperature"
                [(ngModel)]="look.temperature" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.look.dayTime" for="field_dayTime">Day Time</label>
            <div class="input-group">
                <input id="field_dayTime" type="text" class="form-control" name="dayTime" ngbDatepicker  #dayTimeDp="ngbDatepicker" [(ngModel)]="look.dayTime"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dayTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.look.pictureIndex" for="field_pictureIndex">Picture Index</label>
            <input type="number" class="form-control" name="pictureIndex" id="field_pictureIndex"
                [(ngModel)]="look.pictureIndex" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.look.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="look.url" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.look.closet" for="field_closet">Closet</label>
            <select class="form-control" id="field_closet" name="closet" [(ngModel)]="look.closetId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="closetOption.id" *ngFor="let closetOption of closets; trackBy: trackClosetById">{{closetOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
