<div>
    <h2>
        <span jhiTranslate="lookbrbackendApp.look.home.title">Looks</span>
        <button class="btn btn-primary float-right jh-create-entity create-look" [routerLink]="['/', { outlets: { popup: ['look-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="lookbrbackendApp.look.home.createLabel">
            Create new Look
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="looks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lookbrbackendApp.look.userId">User Id</span></th>
            <th><span jhiTranslate="lookbrbackendApp.look.temperature">Temperature</span></th>
            <th><span jhiTranslate="lookbrbackendApp.look.dayTime">Day Time</span></th>
            <th><span jhiTranslate="lookbrbackendApp.look.pictureIndex">Picture Index</span></th>
            <th><span jhiTranslate="lookbrbackendApp.look.url">Url</span></th>
            <th><span jhiTranslate="lookbrbackendApp.look.closet">Closet</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let look of looks ;trackBy: trackId">
                <td><a [routerLink]="['../look', look.id ]">{{look.id}}</a></td>
                <td>{{look.userId}}</td>
                <td>{{look.temperature}}</td>
                <td>{{look.dayTime | date:'mediumDate'}}</td>
                <td>{{look.pictureIndex}}</td>
                <td>{{look.url}}</td>
                <td>
                    <div *ngIf="look.closetId">
                        <a [routerLink]="['../closet', look.closetId  ]" >{{look.closetId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../look', look.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'look/'+ look.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'look/'+ look.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
