
<div *ngIf="comment">
    <h2><span jhiTranslate="lookbrbackendApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lookbrbackendApp.comment.comment">Comment</span></dt>
        <dd>
            <span>{{comment.comment}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.comment.consultantProfilePhoto">Consultant Profile Photo</span></dt>
        <dd>
            <span>{{comment.consultantProfilePhoto}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.comment.consultantName">Consultant Name</span></dt>
        <dd>
            <span>{{comment.consultantName}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.comment.dateVoted">Date Voted</span></dt>
        <dd>
            <span>{{comment.dateVoted | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.comment.look">Look</span></dt>
        <dd>
            <div *ngIf="comment.lookId">
                <a [routerLink]="['/look', comment.lookId]">{{comment.lookId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
