<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInspirationLabel" jhiTranslate="lookbrbackendApp.inspiration.home.createOrEditLabel">Create or edit a Inspiration</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!inspiration.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="inspiration.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.inspiration.consultantName" for="field_consultantName">Consultant Name</label>
            <input type="text" class="form-control" name="consultantName" id="field_consultantName"
                [(ngModel)]="inspiration.consultantName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.inspiration.consultantProfilePhotoURL" for="field_consultantProfilePhotoURL">Consultant Profile Photo URL</label>
            <input type="text" class="form-control" name="consultantProfilePhotoURL" id="field_consultantProfilePhotoURL"
                [(ngModel)]="inspiration.consultantProfilePhotoURL" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.inspiration.inspirationURL" for="field_inspirationURL">Inspiration URL</label>
            <input type="text" class="form-control" name="inspirationURL" id="field_inspirationURL"
                [(ngModel)]="inspiration.inspirationURL" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.inspiration.page" for="field_page">Page</label>
            <input type="number" class="form-control" name="page" id="field_page"
                [(ngModel)]="inspiration.page" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.inspiration.timeline" for="field_timeline">Timeline</label>
            <select class="form-control" id="field_timeline" name="timeline" [(ngModel)]="inspiration.timelineId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="timelineOption.id" *ngFor="let timelineOption of timelines; trackBy: trackTimelineById">{{timelineOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
