
<div *ngIf="login">
    <h2><span jhiTranslate="lookbrbackendApp.login.detail.title">Login</span> {{login.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lookbrbackendApp.login.loginType">Login Type</span></dt>
        <dd>
            <span jhiTranslate="{{'lookbrbackendApp.LoginType.' + login.loginType}}">{{login.loginType}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.login.token">Token</span></dt>
        <dd>
            <span>{{login.token}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.login.user">User</span></dt>
        <dd>
            {{login.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'login/'+ login.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
