<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOccasionLabel" jhiTranslate="lookbrbackendApp.occasion.home.createOrEditLabel">Create or edit a Occasion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!occasion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="occasion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.occasion.page" for="field_page">Page</label>
            <input type="number" class="form-control" name="page" id="field_page"
                [(ngModel)]="occasion.page" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.occasion.inspiration" for="field_inspiration">Inspiration</label>
            <select class="form-control" id="field_inspiration" name="inspiration" [(ngModel)]="occasion.inspirationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="inspirationOption.id" *ngFor="let inspirationOption of inspirations; trackBy: trackInspirationById">{{inspirationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lookbrbackendApp.occasion.look" for="field_look">Look</label>
            <select class="form-control" id="field_look" name="look" [(ngModel)]="occasion.lookId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lookOption.id" *ngFor="let lookOption of looks; trackBy: trackLookById">{{lookOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
