
<div *ngIf="dayTime">
    <h2><span jhiTranslate="lookbrbackendApp.dayTime.detail.title">Day Time</span> {{dayTime.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lookbrbackendApp.dayTime.value">Value</span></dt>
        <dd>
            <span>{{dayTime.value}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.dayTime.type">Type</span></dt>
        <dd>
            <span>{{dayTime.type}}</span>
        </dd>
        <dt><span jhiTranslate="lookbrbackendApp.dayTime.inspiration">Inspiration</span></dt>
        <dd>
            <div *ngIf="dayTime.inspirationId">
                <a [routerLink]="['/inspiration', dayTime.inspirationId]">{{dayTime.inspirationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'day-time/'+ dayTime.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
